@if (hasComponents) {
  <div class="form-components-container" [class]="component.class || ''">
    @for (comp of component.components; track comp; let i = $index) {
      @if (!this.component.hidden) {
        <form-component
          [class]="config.formId + '_' + index+'_'+i + ' ' +(component.class || '')"
          class="w-forms__component"
          [component]="comp"
          [submition]="this.submition"
          [config]="this.config"
          (wSubmit)="this.wSubmit.emit(this.submition)"
          (wChange)="this.wChange.emit()"
          (wClick)="this.wClick.emit()"
          [index]="index+'_'+i"
        ></form-component>
      }
    }
  </div>
}

@if (component.name && template && (!component.key || localKey && localSubmition)) {
  <div class="form-container">
    <ng-container
			*ngTemplateOutlet="
				template;
				context: {
					$implicit: {
						field: field,
						config: config,
						component: component,
						key: localKey,
						submition: localSubmition,
						wSubmit: submit.bind(this),
						wChange: change.bind(this),
						wClick: click.bind(this)
					}
				}
			"
></ng-container>
</div>
}
