@if (isPhoto) {
  <div (click)="set()" [ngClass]="class">
    @if (label) {
      <h3>{{ label }}</h3>
    }
    @if (!multiple) {
      <label for="formPhoto">
        <img
          [src]="(!(force || value || '').includes('assets/default.png') && !(force || value || '').includes('https') ? url : '') + ( value || '/assets/default.png')"
          (error)="force = err"
          [ngStyle]="imgStyle"
          class="file__img"
          alt="Picture"
          />
      </label>
    }
    @if (multiple) {
      <label for="formPhotos" class="file__add">Add</label>
    }
    @if (multiple) {
      <div class="file__list">
        @for (file of files; track file; let i = $index) {
          <div class="file__item">
            <img
              [src]="(!(force || value || '').includes('assets/default.png') && !(force || value || '').includes('https') ? url : '')  + file"
              alt="Picture"
              class="file__item-img"
              />
            <i (click)="files.splice(i, 1)" class="file__item-remove">X</i>
          </div>
        }
      </div>
    }
  </div>
}
