<div class="w-forms">
  @if (config.title) {
    <h1 class="w-forms__title">{{config.title}}</h1>
  }
  <form (ngSubmit)="onSubmit()">
    @for (component of config.components; track component; let i = $index) {
      @if (!component.hidden) {
        <form-component
          [class]="config.formId + '_' + i + ' ' +(component.class || '') + ' ' + config.formId"
          class="w-forms__component"
          [component]="component"
          [submition]="submition"
          [config]="config"
          (wSubmit)="onSubmit()"
          (wChange)="onChange()"
          (wClick)="onClick()"
          [index]="''+i"
        ></form-component>
      }
    }
  </form>
</div>
