<div class="wtable">
  <div class="users__header w-card__header">
    <!-- Table title -->
    <h3 class="w-forms__title">{{ title }}</h3>

    <!-- Search functionality -->
    @if (config.searchable) {
      <div
        class="table-search"
        [class.table-search--active]="searchShow"
        >
        <input
          (keyup.enter)="search(); searchShow = false"
          (ngModelChange)="searching()"
          [(ngModel)]="searching_text"
          class="table-search__input"
          placeholder="Search..."
          type="text"
          />
        <span
          class="material-icons material-symbols-outlined table-search__icon"
          (click)="search(); searchShow = false"
          >
          search
        </span>
      </div>
    }
    @if (!searchShow) {
      <div class="table-search__icon-mobile">
        <span
          class="material-icons material-symbols-outlined"
          (click)="searchShow = true"
          >
          search
        </span>
      </div>
    }

    <div class="users__btns">
      <!-- Header buttons -->
      <div class="user__icons">
        @if (config.headerButtons) {
          @for (button of config.headerButtons; track button) {
            @if (button) {
              <wbutton
                (click)="button.click()"
                [class]="button.class"
                [disableSubmit]="true"
                class="edit-header"
                >
                @if (button.icon) {
                  <i
                    class="material-icons"
                    [title]="button.icon"
                    >
                    {{ button.icon }}
                  </i>
                }
                @if (button.text) {
                  <span>{{ button.text }}</span>
                }
              </wbutton>
            }
          }
        }
        @if (config.create) {
          <wbutton
            (click)="config.create()"
            class="table-plus-btn"
            [disableSubmit]="true"
            >
            + <span translate>Common.Add new</span>
          </wbutton>
        }
      </div>

      <!-- Add new item button -->
    </div>
  </div>

  <table class="table" cellpadding="0" cellspacing="0">
    <thead class="table-header">
      <tr>
        <!-- Column for row numbers -->
        @if (config.num) {
          <th>No.</th>
        }

        <!-- Column headers with sorting -->
        @for (column of columns; track column) {
          <th scope="col">
            <div
              [class._sortActiveDown]="sort_type.direction === 'desc' && column.field === sort_type.title"
              [class._sortActiveUp]="sort_type.direction === 'asc' && column.field === sort_type.title"
              class="table-header__sort"
              (click)="sort(column)"
              >
              <span>{{ column.title }}</span>
              @if (sortable[column.field]) {
                <span
                  class="material-icons icon-arrow"
                  >
                  keyboard_backspace
                </span>
              }
            </div>
          </th>
        }

        <!-- Column for action buttons -->
        @if (config.delete || config.update || config.buttons?.length) {
          <th
            >
            @if (action) {
              <ng-container
                *ngTemplateOutlet="action.template"
              ></ng-container>
            } @else {
              Actions
            }
          </th>
        }
      </tr>
    </thead>
    <tbody class="table-body">
      @for (row of config.allDocs ? (rows | search: filter_filter: (config.searchBy || 'title') | perPage: config: sort_type: filter_filter + now) : rows; track row; let i = $index) {
        <tr
          >
          <!-- Row number -->
          @if (config.num) {
            <td>{{ row.num }}</td>
          }
          <!-- Data rows with custom cells if defined -->
          @for (column of columns; track column) {
            @if (custom_cell[column.field]) {
              <td [attr.data-label]="column.title + ':&nbsp;'">
                <ng-container
                  *ngTemplateOutlet="custom_cell[column.field]; context: { $implicit: row }"
                ></ng-container>
              </td>
            } @else {
              <td [attr.data-label]="column.title + ':&nbsp;'">
                {{ row[column.field] }}
              </td>
            }
          }
          <!-- Action buttons for each row -->
          @if (config.delete || config.update || config.buttons?.length) {
            <td
              class="table-body__last-td"
              data-label="Actions:&nbsp;"
              >
              <div class="table__actions">
                <!-- Custom buttons -->
                @for (button of config.buttons || []; track button) {
                  @if (button) {
                    @if (!button.ahref && !button.ahrefFunc && !button.href && !button.hrefFunc) {
                      <i
                        (click)="button.click(row)"
                        class="material-icons"
                        [title]="button.icon"
                        >
                        {{ button.icon }}
                      </i>
                    }
                    @if (button.href) {
                      <a
                        [href]="button.ahref"
                        [target]="button.target || '_blank'"
                        >
                        <i
                          class="material-icons"
                          [title]="button.icon"
                          >
                          {{ button.icon }}
                        </i>
                      </a>
                    }
                    @if (button.ahrefFunc) {
                      <a
                        [href]="button.ahrefFunc(row)"
                        [target]="button.target || '_blank'"
                        >
                        <i
                          class="material-icons"
                          [title]="button.icon"
                          >
                          {{ button.icon }}
                        </i>
                      </a>
                    }
                    @if (button.href) {
                      <a
                        [routerLink]="button.href"
                        >
                        <i
                          class="material-icons"
                          [title]="button.icon"
                          >
                          {{ button.icon }}
                        </i>
                      </a>
                    }
                    @if (button.hrefFunc) {
                      <a
                        [routerLink]="button.hrefFunc(row)"
                        >
                        <i
                          class="material-icons"
                          [title]="button.icon"
                          >
                          {{ button.icon }}
                        </i>
                      </a>
                    }
                  }
                }
                <!-- Edit and Delete buttons -->
                @if (config.update) {
                  <i
                    (click)="config.update(row)"
                    class="material-icons"
                    title="Edit"
                    >
                    edit
                  </i>
                }
                @if (config.delete) {
                  <i
                    (click)="config.delete(row)"
                    class="material-icons"
                    title="Delete"
                    >
                    delete_outline
                  </i>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
    @if (config.perPage || (config.formCreate && config.create)) {
      <tfoot
        class="table-footer"
        >
        <!-- Items per page dropdown -->
        @if (config.perPage) {
          <div class="item-page">
            <div class="item-page__text">Showing items per page</div>
            <div
              class="item-page__dropdown"
              (clickOutside)="select_page_size = false"
              [class.open]="select_page_size"
              >
              <div
                class="caption"
                (click)="select_page_size = !select_page_size"
                >
                {{ config.perPage === -1 ? 'All' : config.perPage }}
              </div>
              <div class="list">
                @for (pageSize of config.pageSizeOptions; track pageSize) {
                  <div
                    class="item"
                    >
                    <div
                      [class.selected]="config.perPage === pageSize"
                      (click)="changePerPage(pageSize)"
                      >
                      {{ pageSize }}
                    </div>
                  </div>
                }
                @if (config.allDocs) {
                  <div class="item">
                    <div
                      [class.selected]="config.perPage === -1"
                      (click)="changePerPage(-1)"
                      >
                      All
                    </div>
                  </div>
                }
              </div>
            </div>
            @if (config.perPage >= 0 && !config.allDocs) {
              <div
                class="item-page__result"
                >
                Page {{ config.page }}
              </div>
            }
            @if (config.perPage >= 0 && config.allDocs) {
              <div
                class="item-page__result"
                >
                <span
                  >{{ ((config.page - 1) * config.perPage) + 1 }} - {{
                  config.page * config.perPage > rows?.length &&
                  rows?.length || config.page * config.perPage }}</span
                  >
                  <span> of </span>
                  <span
                    >{{ (rows | search: searching_text: (config.searchBy ||
                    'title'))?.length }}</span
                    >
                  </div>
                }
              </div>
            }
            <!-- Pagination controls -->
            @if (config.perPage !== -1 && config.allDocs) {
              <div
                class="table-footer__pagination"
                >
                <wbutton
                  class="table-footer__arrow _start"
                  [disabled]="config.page === 1"
                  (click)="config.page = 1"
                  >
                  <span class="material-icons"
                    >keyboard_double_arrow_left</span
                    >
                  </wbutton>
                  <wbutton
                    class="table-footer__arrow _left"
                    [disabled]="config.page === 1"
                    (click)="previous()"
                    >
                    <span class="material-icons">chevron_left</span>
                  </wbutton>
                  <wbutton
                    [disabled]="config.page * config.perPage > rows?.length"
                    class="table-footer__arrow _right"
                    (click)="next()"
                    >
                    <span class="material-icons">chevron_right</span>
                  </wbutton>
                  <wbutton
                    class="table-footer__arrow _end"
                    [disabled]="isLast()"
                    (click)="lastPage()"
                    >
                    <span class="material-icons"
                      >keyboard_double_arrow_right</span
                      >
                    </wbutton>
                  </div>
                }
                @if (!config.allDocs) {
                  <div class="table-footer__pagination">
                    <wbutton
                      class="table-footer__arrow _left"
                      [disabled]="config.page === 1"
                      (click)="previous()"
                      >
                      <span class="material-icons">chevron_left</span>
                    </wbutton>
                    <wbutton
                      [disabled]="rows.length !== config.perPage"
                      class="table-footer__arrow _right"
                      (click)="next()"
                      >
                      <span class="material-icons">chevron_right</span>
                    </wbutton>
                  </div>
                }
              </tfoot>
            }
          </table>
        </div>
