<!-- General Input -->
<label
	class="w-forms"
	*ngIf="type !== 'radio' && type !== 'checkbox' && type !== 'textarea'"
	[for]="name"
>
	<span class="w-forms__title" *ngIf="label">{{ label }}</span>
	<input
		[type]="type || 'text'"
		[placeholder]="placeholder || 'Enter text...'"
		(keyup.enter)="onSubmit()"
		[(ngModel)]="value"
		(ngModelChange)="onChange(value)"
		(blur)="wBlur.emit()"
		[class.error]="error"
		[ngClass]="wClass"
		[name]="name"
		class="w-forms__input"
		[disabled]="disabled"
		#inputEl
	/>
	<!-- Error Message Display -->
	<div *ngIf="error" class="error-message">
		{{ label || placeholder }} is invalid.
	</div>
	<ng-content></ng-content>
</label>

<!-- Textarea -->
<ng-container *ngIf="type === 'textarea'">
	<label class="w-forms" [for]="name">
		<span class="w-forms__title">{{ label }}</span>
		<textarea
			(keyup.enter)="onSubmit()"
			[(ngModel)]="value"
			(ngModelChange)="onChange(value)"
			(blur)="wBlur.emit()"
			[placeholder]="placeholder"
			class="w-forms__textarea"
			[class.error]="error"
			[ngClass]="wClass"
			[name]="name"
			[disabled]="disabled"
			#inputEl
		></textarea>
		<!-- Error Message Display -->
		<div *ngIf="error" class="error-message">
			{{ label || placeholder }} is invalid.
		</div>
	</label>
</ng-container>

<!-- Radio Buttons -->
<ng-container *ngIf="type === 'radio'">
	<label class="check-label" *ngFor="let item of items">
		<span class="form-label">{{ item }}</span>
		<input
			[(ngModel)]="value"
			(ngModelChange)="onChange(value)"
			[ngClass]="wClass"
			[class.error]="error"
			[name]="name"
			type="radio"
			[value]="item"
			[disabled]="disabled"
			#inputEl
		/>
		<span class="checkbox _radio"></span>
		<ng-content></ng-content>
	</label>
</ng-container>

<!-- Checkboxes -->
<ng-container *ngIf="type === 'checkbox'">
	<label class="container-box">
		<input
			(ngModelChange)="value = $event; onChange(value)"
			class="w-input__checkbox"
			[disabled]="disabled"
			[class.error]="error"
			[ngModel]="value"
			[ngClass]="wClass"
			type="checkbox"
			[name]="name"
			#inputEl
		/>
		<span class="checkmark"></span>
		<span class="check-text" *ngIf="label">{{ label }}</span>
	</label>
</ng-container>
