<ng-template #templateRef let-data>
  <div class="pass_container">
    <winput
      [value]="data.submition[data.key]"
			(wChange)="
				data.submition[data.key] = $event;
				data.wChange()
			"
      [type]="data.field.Show ? 'text' : 'password'"
      [placeholder]="data.field.Placeholder"
      [name]="data.field.Label || 'name'"
      [focused]="data.component.focused"
      [ngClass]="data.component.class"
      [setFocus]="data.component"
      [label]="data.field.Label"
      (wSubmit)="data.wSubmit()"
      type="password"
    ></winput>
    <div class="smart">
      @if (ui.level(data.value)> 1) {
        <span class="red"></span>
      }
      @if (ui.level(data.value)> 2) {
        <span class="orange"></span>
      }
      @if (ui.level(data.value)> 3) {
        <span class="yellow"></span>
      }
      @if (ui.level(data.value)> 4) {
        <span class="green"></span>
      }
    </div>
    <div class="eye">
      <span
        (click)="data.field.Show = !data.field.Show"
        class="material-icons"
        >
        visibility
      </span>
    </div>
  </div>
</ng-template>
