<button
	[type]="click() || disableSubmit() ? 'button' : 'submit'"
	[class]=" 'w-btn' + (class() ? ' ' + class() : '') "
	[class._secondary]="type() === 'secondary'"
	[class._primary]="type() === 'primary'"
	[class._success]="type() === 'success'"
	[class._warning]="type() === 'warning'"
	[class._danger]="type() === 'danger'"
	[class._light]="type() === 'light'"
	[class._info]="type() === 'info'"
	[class._dark]="type() === 'dark'"
	[class._link]="type() === 'link'"
	[disabled]="disabled()"
	(click)="clicked()"
>
	<ng-content></ng-content>
</button>
